.aplayer{
    width: 980px;
    z-index: 999;
    background-color: #fff;
    margin: 0 !important;
    position: fixed;
    zoom: 1;
    bottom: 0;
    z-index: 1002;
    margin-top: 100px;
    border-top: 1px solid #d3d3d3;
}
#loadmore{
    text-align: center;
    padding: 20px;
}
#loadmore a{
    text-decoration:none;
}
a:hover{
    cursor: pointer;
}
#logo-wrap{
    float:left;
    margin-top: -20px;
}
.logo{
    width:80px;
}
.snote{
    margin-top:38px !important;
}
#user-wrap{
    // vertical-align:middle;
    line-height:40px;
    height:40px;
    float:right;
    margin-top:-40px;
}
#user-wrap img{
    width:25px;
    border-radius:50%;
    vertical-align:middle;
    margin-right:15px;
}
#user-wrap span{
    height:100%;
    display:inline-block;
    vertical-align:middle;
    font-size:18px;
}