if ($uri !~ "^/(.*).php"){
	set $rule_0 1$rule_0;
}
if ($uri !~ "^/res"){
	set $rule_0 2$rule_0;
}
if ($uri !~ "(.html|.js|.css|.jpg|.png|.gif|.bmp|.ico)$"){
	set $rule_0 3$rule_0;
}
if ($rule_0 = "321"){
	rewrite ^/(.*)$ /index.php?dir=$1 last;
}